name: Supabase Keep Alive
on:
  schedule:
    - cron: 0 */3 * * *
  workflow_dispatch: null
jobs:
  ping_db:
    runs-on: ubuntu-latest
    steps:
      - name: Install PostgreSQL Client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client
      - name: Ping Supabase Database
        env:
          PROD_DATABASE_URL: '${{ vars.PROD_DATABASE_URL }}'
        run: |
          psql "$PROD_DATABASE_URL" -c "SELECT 1;"
